div.box {
    outline:1px black solid;
    padding:5px;
    margin:5px;
}
div {
    padding:5px;
    margin:5px;
}
h5 {
    margin:10px; 
}

td {
    padding:3px;
}
th {
    background-color:tan;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}